/*Styles for the About Us Section */
#about-us-section {
    display: flex;
    flex-flow: row nowrap;  /*Arrange children in a single row */
    justify-content: center; /*Center content horizontally */
    align-items: center; /*Center content vertically */
    color: white;
    margin-top: 150px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

/*Styles for the About Us Section Header Title */
#about-us-header-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}

/*Styles for the About Us Content Container */
#about-us {
    width: 70%;
    display: flex;
    flex-flow: column; /*Arrange children in a column */
    justify-content: flex-start;  /*Align content at the top */
    align-items: flex-start;  /*Align items at the left */
}

/*Styles for the About Us Image */
#image-about {
    padding: 0 5% 0 0;
    width: 40%;
    max-width: 480px;
    max-height: 600px;
    min-width: 315px;
    min-height: 400px;
}

/*Styles for the About Us Paragraph */
#about-us-paragraph {
    width: 100%;
    text-align: justify;
}

/*Media Query for Responsive Design */
@media screen and (max-width: 767px) {
    #about-us-section {
        flex-flow: column nowrap;
    }

    #image-about {
        width: 90%;
        margin-bottom: 40px;
        padding: 0;
        max-width: 315px;
        max-height: 400px;
        min-width: 120px;
        min-height: 150px;
    }

    #about-us {
        width: 90%;
    }

    #about-us-header-title {
        font-size: 25px;
    }
}