/*Styles for the Carousel Container */
.carousel {
    display: flex;
    flex-flow: row nowrap; /*Arrange items in a row */
    align-items: center; /*Center items vertically */
    justify-content: center; /*Center items horizontally */
    width: 100%;
    height: 100%;
}

/*Styles for the Left Carousel Button */
.left-carousel-button {
    width: 5%;
    justify-content: center;
    align-items: center;
    scale: 1.5;
    background: none;
    border: none;
    color: white;
    height: 100%;

}

.left-carousel-button:hover {
    scale: 1.8; /*Scale on hover */
    color: white;

}

/*Styles for the Right Carousel Button */
.right-carousel-button {
    height: 100%;
    width: 5%;
    justify-content: center;
    align-items: center;
    scale: 1.5;
    background: none;
    border: none;
    color: white;
}

.right-carousel-button:hover {
    scale: 1.8;
}

/*Styles for the Carousel Item List */
.carousel-item-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    padding: 0;
}

/*Styles for the Carousel Item */
.carousel-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-right: 20px;

    height: 16vw;
    width: 12vw;

    max-height: 300px;
    min-height: 200px;

    max-width: 200px;
    min-width: 133px;
    list-style-type: none;
}

/*Styles for the Hyperlink within Carousel Item */
.carousel-item > a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*Styles for the Span within the Hyperlink */
a > span {
    display: flex;
    position: absolute; /*Absolute position to be iver the item */
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    height: 16vw;
    width: 12vw;
    max-height: 300px;
    min-height: 200px;
    color: white;
    max-width: 200px;
    min-width: 133px;
    z-index: 2; /*Over the image */
}

a > span:hover {
    position: absolute;
    opacity: 100%; /*Full opacity on hover */
    transition: all 0.5s; /*Smooth Show up */
}

/*Hover effect for Carousel Item */
.carousel-item:hover {
    scale: 1.04;
    transition: all 0.5s;
}

.movie-carousel-item-img {
    border-radius: 10px 10px 10px 10px; /*Rounded corners */

    height: 16vw;
    width: 10.6vw;

    max-height: 300px;
    min-height: 200px;

    max-width: 200px;
    min-width: 133px;

}

@media screen and (max-width: 767px) {
    .carousel-item {
        padding-right: 15px;
        max-height: 250px;
        min-height: 150px;
        max-width: 166px;
        min-width: 99px;
    }

    .movie-carousel-item-img {
        max-height: 250px;
        min-height: 150px;
        max-width: 166px;
        min-width: 99px;
    }
    a > span {
        max-height: 250px;
        min-height: 150px;
        max-width: 166px;
        min-width: 99px;
    }
    }